@model ReservacionHotelExamen2.Models.RoomFacilities

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RoomFacilities</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilityDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilityDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilitieList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilitieList.FacilityDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Floor)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
