@model IEnumerable<ReservacionHotelExamen2.Models.RoomFacilities>

@{
    ViewData["Title"] = "Index";
}

<h1>Facilidades de Cuarto</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacilityDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacilitieList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacilityDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacilitieList.FacilityDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /*  id=item.RoomID */ }) |
                @Html.ActionLink("Details", "Details", new {  id=item.RoomID  }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.FacilitieListID */ })
            </td>
        </tr>
}
    </tbody>
</table>
