@model IEnumerable<ReservacionHotelExamen2.Models.BookingRoom>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservacion Cuarto</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.BookingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.AdditionalNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guest.GuestTitle)
            </td>
            <td>
               <!--
                <a asp-action="Edit" asp-route-id="@item.BookingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingID">Delete</a>
                -->
                
                @Html.ActionLink("Edit", "Edit", new { /* id=item.BookingID */ }) |
                @Html.ActionLink("Details", "Details", new {  id=item.BookingID  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.BookingID  })
            
            </td>
        </tr>
}
    </tbody>
</table>
