@model IEnumerable<ReservacionHotelExamen2.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Cliente</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerForenames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerSurnames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAdressStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAdressTown)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAdressCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAdressPostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerHomePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerWorkPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerMobilePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerForenames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerSurnames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAdressStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAdressTown)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAdressCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAdressPostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerHomePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerWorkPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerMobilePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
