@model IEnumerable<ReservacionHotelExamen2.Models.RoomPrice>

@{
    ViewData["Title"] = "Index";
}

<h1>Precio Cuarto</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomPriceAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomPriceAmount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomPriceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomPriceID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomPriceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
