@model IEnumerable<Univ2.Models.Inscripcion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.CursoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante.EstudianteId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InscripcionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InscripcionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InscripcionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
